.nav-link {
    text-align: center;
    height: 100%;
}

.menuitem {
    text-align: center;
    margin: 0 auto;
}

.button {
    height: 100%;
}

ul{
    padding-left: 40px;
}

textarea {
    max-height: 400px;
    min-height: 150px;
}