<app-home></app-home>
<div class="content">
  <div class="row">
    <div class="jumbotron col">
      <h1 class="display-3">Witaj, {{user?.name| titlecase}}!</h1>
      <br>
      <br>

      <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
      <br>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
      <br>
      <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card text-white bg-dark col" style="max-width: 20rem;">
      <div class="card-header">Events</div>
      <div class="card-body">
        <h4 class="card-title">Spotkanie firmowe</h4>
        <p class="card-text">Zarząd firmy serdecznie zaprasza wszystkich pracowników na imprezę integracyjną 12 marca
          2019.</p>
      </div>
    </div>

    <div class="card bg-light col" style="max-width: 20rem;">
      <div class="card-header">Awards</div>
      <div class="card-body">
        <h4 class="card-title">"Stefan Pastuch"</h4>
        <p class="card-text">Gratulacje w kategorii "Najlepszy pracownik miesiąca".</p>
      </div>
    </div>

    <div class="card text-white bg-dark col" style="max-width: 20rem;">
      <div class="card-header">Informations</div>
      <div class="card-body">
        <h4 class="card-title">Dzień wolny</h4>
        <p class="card-text">Informujemy, że dnia 20 lutego 2019 ustanawia się dniem wolnym od pracy.</p>
      </div>
    </div>
  </div>
</div>