<app-home></app-home>
<div class="container mt-4">

    <div class="img"></div>
    <form>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" id="surname" value="">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" id="surname" value="">
        </div>
        <div class="buttons">
            <button class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Change password</button>
        </div>
        <div class="buttons2">
            <button class="btn btn-danger" (click)="cancel()"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
        </div>
    </form>
</div>