.content-table {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    float: left;
    text-align: center;
}

.addCard {
    margin: auto;
    float: right;
}

.container {
    margin: auto;
    width: 50%;
    padding: 10px;
}