
<app-home></app-home>
<div class="container mt-4">
	<div class="row">
		<div class="col-sm-8">
			<div class="title">
				<h1><u>{{pageTitle}}</u></h1>
			</div>
		</div>
		<div class="addCard">
			<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-user"></i>New Card</button>
		</div>

		<div style="margin-top:15px;" class="content-table">
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Lp.</th>
						<th class="col-md-3 col-sm-3 col-xs-3">Numer karty</th>
						<th class="col-md-3 col-sm-3 col-xs-3">Nazwisko</th>
						<th class="col-md-3 col-sm-3 col-xs-3">Zablokowana</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let card of cards let i = index" [attr.data-index]="i">
            <td>{{i+1}}</td>
            <td class="col-md-3 col-sm-3 col-xs-3">{{card.cardNumber1 + " " + card.cardNumber2 + " " + card.cardNumber3 + " " + card.cardNumber4}}</td>
						<td class="col-md-3 col-sm-3 col-xs-3">{{card.userName}}</td>
						<td class="col-md-3 col-sm-3 col-xs-3">{{card.blocked == false ? "Nie" : "Tak"}}</td>
						<td class="col-md-1 col-sm-1 col-xs-1"><button class="btn btn-success" [routerLink]="['/members/', card.id]"><i
								 class="fa fa-user"></i> Update</button></td>
						<td class="col-md-1 col-sm-1 col-xs-1"><button class="btn btn-danger" (click)="deleteCard(card.id)"><i class="fa fa-user"></i> Delete</button></td>
					</tr>
					<tr *ngIf="cards?.length == 0">
						<td style="text-align: center" colspan="10">{{tempInfo}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>